{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%  static 'css/highlights/github.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
    <span id="top" ></span>

    <div class="container-fluid">
        {% include 'header.html' %}
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>    Skyge的博客   </h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="/" class="list-group-item">首页</a>
                        </div>
                        <div class="widget widget-recent-posts">
                            <h3 class="widget-title">最新文章</h3>
                                {% get_recent_posts as recent_post_list %}
                                <ul>
                                    {% for post in recent_post_list %}
                                    <li>
                                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    </li>
                                    {% empty %}
                                        暂无文章！
                                    {% endfor %}
                                </ul>
                        </div>
                        <div class="widget widget-archives">
                            <h3 class="widget-title">归档</h3>
                                {% archives as date_list %}
                                <ul>
                                    {% for date in date_list %}
                                <li>
                                    <a href="{% url 'blog:archives' date.year date.month %}">
                                        {{ date.year }} 年 {{ date.month }} 月

                                    </a>
                                </li>
                                {% empty %}
                                    暂无归档！
                                {% endfor %}
                                </ul>
                        </div>
                        <div class="widget widget-category">
                            <h3 class="widget-title">分类</h3>
                                {% get_categories as categories %}
                                <ul>
                                    {% for category in categories %}
                                <li>
                                    <a href="{% url 'blog:category' category.pk %}">
                                        {{ category.name }}
                                        <span class="post-count">(13)</span>
                                    </a>
                                </li>
                                    {% empty %}
                                        暂无分类！
                                    {% endfor %}
                                </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block content %} {% endblock %}

                    </div>
                    <div class="panel-footer">
                        {% include 'footer.html' %}
                    </div>
                    <a href="#top">回到顶部</a><br />
                </div>
            </div>
        </div>
    </div>



</body>
</html>