{% load staticfiles %}

<!DOCTYPE html>
<html xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%  static 'css/highlights/github.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
    <span id="top" ></span>

    <div class="container-fluid">
        {% include 'header.html' %}
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>    Skyge的博客   </h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="/" class="list-group-item">首页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block content %} {% endblock %}

                    </div>
                    <div class="panel-footer">
                        {% include 'footer.html' %}
                    </div>
                    <a href="#top">回到顶部</a><br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>