<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} Skyge的博客 {% endblock %}
{% block headmessage %}
    <h3 style="font-family:楷体;">本站文章列表</h3>
{% endblock %}
{% block content %}
    {%  for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <p style="font-family:微软雅黑;font-size:14pt;font-weight: bold">
                    <a href="{{post.get_absolute_url}}">{{ post.title }}</a>
                </p>
            </div>
            <div class="panel-body" style="background-color: #ffffdd">
                {% if post.id < 7 %}
                    <p >
                        {{ post.text | truncatechars_html:50  }}
                    </p>
                {% else %}
                    <p>
                         {{ post.abstract }}
                    </p>
                {% endif %}

                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">
                        继续阅读 <span class="meta-nav">→</span>
                    </a>
                </div>
            </div>


            <div class="panel-footer" >
                <span class="post-date">
                    <time class="entry-date" datetime="{{ post.created_time }}">
                        {{ post.created_time }}
                    </time>
                </span>
            </div>
        </div>
    {% endfor %}
    {% for archive_list in archives_lists %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <p style="font-family:微软雅黑;font-size:14pt;font-weight: bold">
                    <a href="{{archive_list.get_absolute_url}}">{{ archive_list.title }}</a>
                </p>
            </div>
        </div>
    {% endfor %}
    {% for category_list in category_lists %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <p style="font-family:微软雅黑;font-size:14pt;font-weight: bold">
                    <a href="{{category_list.get_absolute_url}}">{{ category_list.title }}</a>
                </p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
</body>
</html>