<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} Skyge的博客 {% endblock %}
{% block headmessage %}
    <h3 style="font-family:楷体;">本站文章列表</h3>
{% endblock %}
{% block content %}
    <div class="flex-center">
        <div class="container">
            <div>
                <h1 class="logo"><a href="{% url 'index' %}">Django Auth Example</a></h1>
                {% if user.is_authenticated %}
                    <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
                    <button class="btn btn-default">
                        <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a>
                    </button>
                    <button class="btn btn-default">
                        <a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a>
                    </button>
                {% else %}
                    <p>你还没有登录，请
                        <button class="btn btn-default">
                            <a href="{% url 'login' %}?next={{ request.path }}">登录</a>
                        </button>
                        或者
                        <button class="btn btn-default"><a href="{% url 'users:register' %}">注册</a></button>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    {%  for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <p style="font-family:微软雅黑;font-size:14pt;font-weight: bold">
                    <a href="{{post.get_absolute_url}}">{{ post.title }}</a>
                </p>
            </div>
            <div class="panel-body" style="background-color: #ffffdd">
                {% if post.id < 7 %}
                    <p >
                        {{ post.text | truncatechars_html:50  }}
                    </p>
                {% else %}
                    <p>
                         {{ post.abstract }}
                    </p>
                {% endif %}

                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">
                        继续阅读 <span class="meta-nav">→</span>
                    </a>
                </div>
            </div>
            <div class="panel-footer" >
                <span class="post-date">
                    <time class="entry-date" datetime="{{ post.created_time }}">
                        {{ post.created_time }}
                    </time>
                </span>
                <div class="entry-meta">
                    <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for archive_list in archives_lists %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <p style="font-family:微软雅黑;font-size:14pt;font-weight: bold">
                    <a href="{{archive_list.get_absolute_url}}">{{ archive_list.title }}</a>
                </p>
            </div>
        </div>
    {% endfor %}
    {% for category_list in category_lists %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <p style="font-family:微软雅黑;font-size:14pt;font-weight: bold">
                    <a href="{{category_list.get_absolute_url}}">{{ category_list.title }}</a>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>